---
title: Sittningslokaler
keywords: sittning lokal
---

# {title}

Lista över några sittningslokaler på och i omgivningen av Chalmers.

| Namn                                                                   | Kök | Plaser | Uppdaterad | Kommentar                                                                                                                                                                             |
| ---------------------------------------------------------------------- | --- | ------ | ---------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- |
| [Holt](https://www.chalmersbarockensemble.se/kontakt.html)             | Ja  | 25     | 2022       | Barockens replokal. En i sällskapet måste vara medlem i Barocken. Alla barockare måste vara välkommna på sittningen.                                                                  |
| [Winden](https://mtek.chalmers.se/boka/winden/)                        | Ja  | 80     | 2022       | Maskinteknologsektionens festlokal.                                                                                                                                                   |
| GD-foajén                                                              | Nej | 40     | 2022       | Bokas genom [salsbokningen](mailto:salsbokningen@chalmers.se). Får inte bokas alla dagar, hör med salsbokningen.                                                                      |
| [Fritids](http://www.fortroenderadet.se/rooms/partyroom/)              | Ja  | 50     | 2022       | Ligger på Emilsborg.                                                                                                                                                                  |
| [Tågvagnen](https://chalmersstudentkar.se/train-car/)                  | Nej | 50     | 2022       |                                                                                                                                                                                       |
| [Vera Sandberg](https://chalmersstudentkar.se/facilities/)             | Ja  | 20     | 2022       | Måste bokas genom kårförening. Trångt och dåligt med köksutrustning.                                                                                                                  |
| [Hilbert](https://ftek.se/sektionslokal/boka-lokal/)                   | Ja  | 20     | 2022       | GU-Fysiks lokal. Kan bokas som ett rum tillsammans med Focus.                                                                                                                         |
| [Focus](https://ftek.se/sektionslokal/boka-lokal/)                     | Ja  | 60     | 2022       | F:s sektinslokal. Kan bokas som ett rum tillsammans med Hilbert.                                                                                                                      |
| [GT/Spritis](http://www.kfkb.se/bokningskalender-for-kfkb/)            | Ja  | 40     | 2020       | KfKb:s sektionslokal.                                                                                                                                                                 |
| [Fort NOx](https://www.kemisektionen.com/bokning-av-nox.html)          | Ja  | 60     | 2020       | K:s sektionslokal, bestick och tallrikar kan hyras av K6.                                                                                                                             |
| Hubben                                                                 |     |        | 2022       | IT:s sektionslokal. Hubben får ej hyras (av folk utanför IT?), men kan lånas "lånas ut inom Chalmers Studentkår om goda skäl föreligger". Kontakta [P.R.I.T](mailto:prit@chalmers.it) |
| Basen                                                                  |     | 70     | 2022       | D:s sektionslokal. Kontakta [D-styret](mailto:styret@dtek.se).                                                                                                                        |
| [Verum](https://www.vtek.se/teknolog/boka-verum/)                      | Ja  | 36     | 2022       | V:s sektionslokal. Bokningar kan göras max en månad i förväg.                                                                                                                         |
| [Röda rummet](https://www.atek.chalmers.se/sektionen/kommitteer/puba/) |     | 40     | 2022       | A-sektionens pub.                                                                                                                                                                     |
| [Zaloonen](http://www.ztek.se/zaloonen/)                               | Ja  |        | 2022       | Z:s sektionslokal. Möjlig att boka för icke-Z-teknologer, även om man rekommenderas att prova andra lokaler först.                                                                    |
