/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Dogica Pixel';
    src: url('/fonts/dogicapixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Dogica Pixel';
    src: url('/fonts/dogicapixelbold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  h1 {
    @apply text-3xl;
    @apply font-bold;
    @apply mt-6;
    @apply mb-6;
  }
}
